.container{
  background-color: #202124;
}

.main {
  min-height: 100vh;
  margin:0 auto;
}

.snapshot {
  display: block;
  margin:0;
  transition: transform 0.2s;
  transform: scale(1,1);
  cursor: pointer;
}

.snapshot:hover{
  transform: scale(1.1,1.1);
}
